<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Admin Question Manipulation</title>
    <div th:replace="~{common :: styling}"></div>
</head>

<body>
<header>
    <div th:replace="~{common :: navbar}"></div>
</header>


<main>

    <form action="/admin/createQuestion" method="post">
        <input type="text" name="questionText" placeholder="Question?" required>
        <input type="text" name="answerOne" placeholder="Answer One" required>
        <input type="text" name="answerTwo" placeholder="Answer Two" required>
        <input type="text" name="answerThree" placeholder="Answer Three (optional)">
        <input type="text" name="answerFour" placeholder="Answer Four (optional)">
        <button type="submit">Create New Question</button>
        <!--        TODO: figure out how to send to a new page with form for updating questions-->
        <!--        TODO: figure out how to delete that same question once there-->
        <!--        <button th:href="@{/admin/question/">Update Existing Question</button>-->
    </form>

    <ul>
        <li class="question" th:each="question : ${questions}">
            <p th:text="${question.getQuestionText()}"></p>
            <p th:text="${question.getAnswerOne()}"></p>
            <p th:text="${question.getAnswerTwo()}"></p>
            <p th:text="${question.getAnswerThree()}"></p>
            <p th:text="${question.getAnswerFour()}"></p>
            <a th:href="${'/admin/schedule/' + question.getId()}">Schedule your Question</a>
            <form th:action="${'/admin/question/' + question.getId()}" th:method="delete">
                <button>Delete</button>
            </form>
        </li>
    </ul>
</main>


<footer>

</footer>
</body>