* {
    font-family: 'Lato', sans-serif;
    color: #333;
}

body{
    max-width: 1200px;
    margin: 0 auto;
    background-color: #F7E8FC;
}



main{
    text-align: center;
}

h1{
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

h2{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

p{
    font-size: 1rem;
}

nav {
    margin-bottom: 2em;
    display: flex;
    justify-content: space-around;
    margin-top: 1em;
}

nav a {
    font-size: 2rem;
}

form.voteform {
    width: 80%;
    height: 7rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: stretch;
}

canvas{
    width: 100%;
}

.voteform button{
    width: 45%;
    font-size: 2rem;
}

.voteform button:nth-of-type(1), .voteform button:nth-of-type(2){
    margin-bottom: .5em;
}

canvas{
    display: none;
}

button {
    background-color: #D4B2D8;
    border-color: #5D4E60;
}

@media all and (max-width: 500px) {
    nav {
        display: none;
    }

    form.voteform{
        width: 100%;
    }

    body{
        overflow: hidden;
    }
}
