<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <div th:replace="~{common :: styling}"></div>
    <title>Login</title>
</head>
<body>

<header>
    <div th:replace="~{common :: navbar}"></div>
</header>

<main>
    <h1>Welcome to Trivia Machine!</h1>


    <section>
        <h2 th:text="${question.getQuestionText()}"></h2>
        <form>
            <button formaction="/vote/1" formmethod="post" th:text="${question.getAnswerOne()}"></button>
            <button formaction="/vote/2" formmethod="post" th:text="${question.getAnswerTwo()}"></button>
            <button formaction="/vote/3" formmethod="post" th:text="${question.getAnswerThree()}"></button>
            <button formaction="/vote/4" formmethod="post" th:text="${question.getAnswerFour()}"></button>
        </form>
    </section>


</main>

</body>
</html>